<!DOCTYPE html>

<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <header>
        <nav>

            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"> Logout</a></li>
                <li><a href="{% url 'show_my_tasks' %}"> My tasks</a></li>
                <li><a href="{% url 'list_projects' %}"> My projects</a></li>

                {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <hr>



    {% block content %}

    {% endblock content %}

</body>
<hr>


</html>
