{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
        {% if task.all %}
        <table>
            <thead>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Is completed</th>

            </thead>
            <tbody>
                {% for i in task.all %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.start_date }}</td>
                    <td>{{ i.due_date }}</td>
                    {% if task.is_complete == True %}
                    <td>Yes</td>
                    {% else %}
                    <td>No</td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
        {% else %}
        <p> You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
